footer {
    background-color: #b3b3b3;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    margin: 0 10px;
    display: inline-block;
    transition: opacity 0.3s;
}

.social-links a img {
    width: 24px;
    height: 24px;
}

.social-links a:hover {
    opacity: 0.7;
}
